{% extends "layout/base.html" %}
{% load static %}

{% block 'title' %} Home Page {% endblock 'title' %}

{% block 'content' %}
{% include "include/Sidebar.html" %}

<div class="max-w-full mx-auto p-80 rounded-3xl bg-slate-700 mt-5 flex relative">
    <p class="text-black text-5xl font-bold absolute top-5 left-5">YOUR FUTURE, OUR MISSION</p>
    <div class="absolute top-16 left-5 flex items-center space-x-4">
        <p class="text-white text-xl font-light">We are committed to providing the best services to help you achieve your goals.</p>
        <button class="px-6 py-2 bg-gray-800 text-white rounded-lg hover:bg-gray-900 left-80">Learn More</button>
    </div>
<img src="{% static 'images/myimage.jpg' %}" alt="Description of Image" class="w-1/2 h-auto rounded-3xl object-cover absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
</div>


{% endblock 'content' %}